p {
    margin: 20px 50px;
    text-indent: 60px;
    text-align: justify;
}

span {
    text-indent: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 1.1em;
}

span.status0 {
    background-color: lightskyblue;
}

span.status1 {
    background-color: gold;
}

span.invalidWord {
    margin-right: 4px;
}

span:hover {
    cursor: pointer;
}

span.invalidWord:hover {
    cursor: default;
}

div.prevNext {
    cursor: pointer;
}

#top {
    width: 100%;
    height: 5vh;
}

#progressBar {
    height: 3vh;
    width: 60%;
    padding: 0;
    margin-left: 20%;
}

#courseHeading {
    margin: 1vh auto;
    text-align: center;
}

#courseName {
    font-size: 16px;
    font-weight: bold;
}

#courseName:hover {
    cursor: default;
}

#lesson {
    font-size: 11px;
}

#lesson:hover {
    cursor: default;
}

a {
    font-size: 10px;
    text-decoration: underline;
    color: rgb(53, 53, 163);
}

a:hover {
    text-decoration: underline;
    color: rgb(158, 158, 228);
    cursor: pointer;
}

div.pg {
    margin: 0;
    height: 18px;
    display: inline-block;
    overflow: hidden;
}

#prevPage {
    background: url(../../assets/icons8-go-back-64.png) no-repeat center center;
    float: left;
}

#readPage {
    width: 100%;
    height: 70vh;
    margin: none;
    float: left;
    overflow-y: auto;
    text-align: justify;
    padding: 0 20px 0 40px;
}

#nextPage {
    background: url(../../assets/icons8-circled-right-64.png) no-repeat center center;
    float: right;
}