<div *ngIf="course" id="courseHeading" style="margin-bottom: 0;">
    <span id="courseName">{{ course.name }}</span>
    <br />
    <a [routerLink]="['../courses', {course: course._id}]">{{ langMap.get(user.srcLang).get('lessonListLink') }}</a>
    <br />
    <span
        id="lesson">{{ langMap.get(user.srcLang).get('lessonName') + ' ' + (currLessonInd + 1) + ' / ' + course.lessons.length }}</span>
</div>


<div class="row" *ngIf="course" style="height: 4vh; width: 100%; margin-top: 0; margin-bottom: 2vh">

    <!-- Klikom se prelazi na prethodnu stranicu osim ako nije prikazana prva u lekciji -->
    <div class="col-1 offset-2 prevNext" (click)="onPrevPage()">
        <img src="../../assets/back.png" />
    </div>

    <!-- Progress bar iznad teksta, jedan odsecak predstavlja stranicu, obojena je trenutna -->
    <div class="col-7" style="margin-top: 0.8vh">
        <div class="pg" *ngFor="let pg of course.lessons[currLessonInd]; let i = index" [ngStyle]="getStyle(i)"></div>
    </div>

    <!-- Klikom se prelazi na sledecu stranicu, odnosno na prvu stranicu sledece lekcije
     ako je korisnik trenutno na poslednjoj stranici, osim u slucaju ako je u pitanju
    poslednja lekcija u kursu -->
    <div class="col-1 prevNext" (click)="onNextPage()">
        <img src="../../assets/next.png" />
    </div>
</div>

<!-- Prikaz teksta -->
<div id="readPage">
    <ng-container *ngFor="let el of currPage; let indeks = index">
        <!-- Ako rec validna -->
        <span *ngIf="currWords.has(el.toLowerCase()); else other" [class]="currWords.get(el.toLowerCase()).status"
            (click)="onClickWord(el, indeks)"> {{ el }} </span>
        <!-- Ako rec nije validna -->
        <ng-template #other>
            <!-- <nl> je novi pasus -->
            <ng-container *ngIf="el === '<nl>'">
                <br /><br />
            </ng-container>
            <!-- <tab> je tabulator -->
            <ng-container *ngIf="el === '<tab>'">
                &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>
            <!-- Svi ostali tokeni, npr. znaci interpunkcije, nevalidni karakteri -->
            <ng-container *ngIf="el !== '<nl>' && el !== '<tab>'">
                <span class="invalidWord">{{ el }}</span>
            </ng-container>
        </ng-template>
    </ng-container>
</div>
