<div class="container-fluid">
    <app-header [user]="user" [knownWordCount]="knownWordCount" [level]="level" (newTargetLang)="onNewTargetLang($event)"></app-header>

    <div class="row" *ngIf="user">
        <div class="col-12 col-lg-5 mx-auto">

            <!-- Loading animacija ako je u toku kreiranje kursa -->
            <div class="row justify-content-center align-items-center" style="height: 80vh;" *ngIf="showAddCourse && loading && showYeziq==false">
                <div class="col-6">
                    <app-loading-circle [desc]="loadingProgress"></app-loading-circle>
                </div>
            </div>

            <!-- Deo za dodavanje kurseva, na pocetku se ne prikazuje, kao ni kada je u toku kreiranje kursa -->
            <div *ngIf="showAddCourse && !loading && showYeziq == false">
                <div class="row">
                    <div class="col-12">
                        <h5 style="float: left; margin-top: 3vh">
                            {{ langMap.get(user.srcLang).get('addCourseFormHeading') }}</h5>
                        <button class="btn btn-info" style="float: right; margin-top: 2vh"
                            (click)="toggleViews()">{{ langMap.get(user.srcLang).get('backToCoursesButton') }}</button>
                    </div>
                </div>
                <hr />

                <form *ngIf="!loading && showYeziq==false" autocomplete="off" [formGroup]="courseTextForm" (ngSubmit)="submitText(courseTextForm.value)">
                    <span id="addCourseError">{{ addCourseError }}</span>
                    <div class="form-group">
                        <label for="name">{{ langMap.get(user.srcLang).get('courseNameLabel') }}</label>
                        <input type="text" id="text" class="form-control form-control-sm" formControlName="name" />
                    </div>

                    <!-- File upload -->
                    <div>
                        <label style="float: right; margin-left: 2vh;">
                            <span
                                class="btn btn-secondary btn-sm">{{ langMap.get(user.srcLang).get('browseButton') }}</span>
                            <input type="file" name="file" style="display: none" formControlName="file" accept=".txt,.pdf,.epub" #fileInput>
                        </label>
                        <label id="fileToUpload" (click)="courseTextForm.get('file').setValue('')">
                            {{ getChosenFile() }}
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="text" style="margin-top: 4vh">{{ langMap.get(user.srcLang).get('fileOrEnterText') }}</label>
                        <textarea id="text" class="form-control form-control-sm" rows="20"
                            formControlName="text"></textarea>
                    </div>
                    <button class="btn btn-warning"
                        type="submit">{{ langMap.get(user.srcLang).get('createCourseButton') }}</button>
                </form>
            </div>

            <!-- Loading animacija dok se ne ucitaju kursevi -->
            <div class="row justify-content-center align-items-center" style="height: 80vh;" *ngIf="!showAddCourse && !courses.getValue() && showYeziq==false">
                <div class="col-6">
                    <app-loading-circle [desc]="loadingProgress"></app-loading-circle>
                </div>
            </div>

            <!-- Na pocetku se izlistavaju svi kursevi/lekcije za trenutni ciljni jezik -->
              <div *ngIf="!showAddCourse && courses.getValue() && showYeziq==false">
                <!-- Prvo se prikazuju kursevi -->
                <div *ngIf="!showLessonList; else lessonList">
                    <div class="row">
                        <div class="col-12">
                            <h5 style="float: left; margin-top: 3vh">
                                {{ langMap.get(user.srcLang).get('coursesHeading') }}</h5>
                            <button class="btn btn-info" style="float: right; margin-top: 2vh"
                                (click)="toggleViews()">{{ langMap.get(user.srcLang).get('addCourseButton') }}</button>
                        </div>
                    </div>

                    <hr />
                    <!-- Ako postoje kreirani kursevi -->
                    <div class="courseLessonList">
                        <ng-container *ngIf="courses.getValue().length; else noCourses">
                            <div class="courseLesson" *ngFor="let course of courses.getValue(); let i = index"
                                (click)="showLessons(i)" >
                                <div class="courseLessonInfo">
                                    <b>{{ course.name }}</b>
                                    <br />
                                    <span class="courseStats" [ngStyle]="getStyleIfComplete(course._id)">{{ getCourseStats(course._id) }}</span>
                                </div>


                                <!-- Na pocetku ne vidljiv paragraf sa opcijom za potvrdu brisanja kursa. U HTML sablonu je pre slicice zbog float: right. Ne propagira se klik dogadjaj -->
                                <p class="confirmRemove">
                                    <span class="removeCancel" [hidden]="!showRemoveOpts[i]"
                                        (click)="deleteCourse(course._id); showRemoveOpts[i] = false; $event.stopPropagation()">
                                        {{ langMap.get(user.srcLang).get('removeCourseTitle') }}
                                    </span>
                                    <br /><br /><br />
                                    <span class="removeCancel" [hidden]="!showRemoveOpts[i]"
                                        (click)="showRemoveOpts[i] = false; $event.stopPropagation()">
                                        {{ langMap.get(user.srcLang).get('cancelSpan') }}
                                    </span>
                                </p>
                                <!-- Klikom na slicicu se prikazuje paragraf iznad za potvrdu brisanja. Ne propagira se klik dogadjaj -->
                                <img class="cross" src="../../assets/black-cross.png"
                                    (click)="showRemoveOpts[i] = !showRemoveOpts[i]; $event.stopPropagation()"
                                    [title]="langMap.get(user.srcLang).get('removeCourseTitle')" />
                            </div>
                        </ng-container>
                    </div>

                    <!-- Ako korisnik jos nije kreirao nijedan kurs za taj ciljni jezik -->
                    <ng-template #noCourses>
                        <p>{{ langMap.get(user.srcLang).get('noCoursesText') }}</p>
                    </ng-template>
                </div>
                <!-- Klikom na kurs izlistavaju se lekciju u njegovom sklopu, klikom na neku od njih se otvara stranica za citanje iste -->



                  <ng-template #lessonList>
                      <div class="row" *ngIf="courses && showYeziq == false">
                          <div class="col-12" *ngIf="courses.getValue()[courseIndex] && showYeziq == false">
                              <h5 style="float: left; margin-top: 3vh">
                                  {{ langMap.get(user.srcLang).get('courseHeading') }}:
                                  {{ courses.getValue()[courseIndex].name }}</h5>
                              <button class="btn btn-info" style="float: right; margin-top: 2vh"
                                  (click)="backToCourse()">{{ langMap.get(user.srcLang).get('backToCoursesButton') }}</button>
                              <button class="btn btn-info" style="float: right; margin-top: 2vh; margin-right: 1vh;"
                                  (click)="yeziq()"> yeziq </button>
                          </div>
                      </div>
                      <hr />


                      <div class="courseLessonList" *ngIf="!loading && courses.getValue()[courseIndex] && showYeziq == false">
                          <div class="courseLesson"
                              *ngFor="let lessons of courses.getValue()[courseIndex].lessons; let i = index"
                              [routerLink]="['/read', {course: courses.getValue()[courseIndex]._id, lesson: i+1}]">
                              <span class="courseLessonInfo">{{ langMap.get(user.srcLang).get('lessonName') }}
                                  {{ i+1 }}</span>

                              <!-- Kratka statistika o lekciji -->
                              <div class="lessonStats">
                                  <div
                                      style="display: inline-block; margin-left: 10px; background-color: lightskyblue; height: 10px; width: 10px;">
                                  </div>
                                  <div style="display: inline-block; margin-left: 10px; ">
                                      {{ coursesStats.get(courses.getValue()[courseIndex]._id)[i].unknownCount }}
                                      ({{ coursesStats.get(courses.getValue()[courseIndex]._id)[i].unknownPct }}%)
                                  </div>
                                  <div
                                      style="display: inline-block; margin-left: 20px; background-color: goldenrod; height: 10px; width: 10px;">
                                  </div>
                                  <div style="display: inline-block; margin-left: 10px; ">
                                      {{ coursesStats.get(courses.getValue()[courseIndex]._id)[i].yeziqCount }}</div>
                              </div>
                          </div>
                      </div>
                  </ng-template>
            </div>

            <div *ngIf="showYeziq==true">

              <div class="row">
                  <div class="col-12">
                      <h5 style="float: left; margin-top: 3vh">
                          yeziq
                      </h5>
                      <button class="btn btn-info" style="float: right; margin-top: 2vh"
                          (click)="backToCourse()">{{ langMap.get(user.srcLang).get('backToCoursesButton') }}</button>
                  </div>
              </div>
              <hr />
            <app-yeziq [courseId]=courses.getValue()[courseIndex]></app-yeziq>

            </div>

        </div>
    </div>
</div>
