<div class="row" *ngIf="user">
    <div class="col-12">
        <table class="table table-bordered">
            <tr >
              <th>{{returnCoursesPageMap().get(user.srcLang).get('unknownWord')}}</th>
              <th>{{returnCoursesPageMap().get(user.srcLang).get('chosenTranslation')}}</th>
              <th *ngFor="let dictionary of returnUserDictionaries()"> {{dictionary}} </th>
            </tr>
            <tr *ngFor="let el of yeziqDB">
              <td>
                  {{ el.word }}
              </td>
              <td>
                  {{ el.chosenTrans}}
              </td>
              <td *ngFor="let dictionary of returnUserDictionaries()">
                  <a class="btn btn-info btn-sm" [href]="returnDictionaryQuery(dictionary).replace('<srcLang>', user.srcLang).replace('<targetLang>', user.targetLang).replace('<word>', el.word)"
                      target="blank">
                     {{dictionary}}
                  </a>
              </td>
            </tr>

        </table>
    </div>
</div>
