<!-- Izabrana rec je na vrhu -->
<p id="selectedWord">{{ selectedWord }}</p>
<!-- Izabran prevod ako postoji -->
<p id="chosenTrans" *ngIf="currWords.get(selectedWord.toLowerCase()).chosenTrans">
    {{ currWords.get(selectedWord.toLowerCase()).chosenTrans }}</p>

<!-- Klikom se rec oznacava kao poznata -->
<p id="statusChange" *ngIf="!knownDB.has(selectedWord.toLowerCase())" (click)="onKnowIt()">
    {{ langMap.get(user.srcLang).get('knowWordButton') }}
</p>


<!-- Korisnikov prevod ako postoji -->
<p *ngIf="currWords.get(selectedWord.toLowerCase()).userTrans !== ''" class="possibleTrans"
    (click)="onPickTranslation(currWords.get(selectedWord.toLowerCase()).userTrans)">
    {{ currWords.get(selectedWord.toLowerCase()).userTrans }}
</p>

<!-- Sledi lista mogucih (nekorisnickih) prevoda -->
<p *ngFor="let translation of currWords.get(selectedWord.toLowerCase()).possibleTrans" class="possibleTrans"
    (click)="onPickTranslation(translation)">
    {{ translation }}
</p>

<hr />

<form class="form-inline" autocomplete="off" [formGroup]="addTranslationForm" (ngSubmit)="addTranslation()" style="margin-bottom: 2vh;">
    <div class="form-group mx-auto">
        <!-- <label class="form-label form-label-sm" for="name">{{ 'your own translation' }}:</label> -->
        <input type="text" id="text" class="form-control form-control-sm" formControlName="translation" [placeholder]="langMap.get(user.srcLang).get('addTransPlaceholder')"/>

        <button class="btn btn-info btn-sm" type="submit">{{ langMap.get(user.srcLang).get('addTransButton') }}</button>
    </div>
</form>

<p style="font-size: 12px;">{{ langMap.get(user.srcLang).get('otherTransHeading') }}</p>

<ng-container *ngFor="let dict of dictionaries | keyvalue">
    <p class="possibleTrans">
        <a [href]="dict.value.replace('<srcLang>', user.srcLang).replace('<targetLang>', user.targetLang).replace('<word>', selectedWord)"
            target="blank">
            {{ dict.key }}
        </a>
    </p>
</ng-container>

<ng-container *ngFor="let dict of dictionaries | keyvalue">
  <p class="possibleTrans" *ngIf="dict.key!=='WordReference'">
      <a [href]="dict.value.replace('<srcLang>', user.srcLang).replace('<targetLang>', user.targetLang).replace('<word>', generateQueryString()[0]) + generateQueryString().slice(1)"
          target="blank">
          <div *ngIf="user.srcLang==='sr'; else otherLanguages">
            {{returnContextInLanguage()}} {{ dict.key }}-у
          </div>
          <ng-template #otherLanguages>
            {{returnContextInLanguage()}} {{ dict.key }}
          </ng-template>
      </a>
  </p>
</ng-container>
