<div class="row" style="background-color: rgb(53, 53, 163)">
    <div class="col-12">
        <div class="col-12 col-lg-7 mx-auto" *ngIf="user">
            <nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(53, 53, 163)">
                <div class="navbar-brand" style="color:rgb(245, 193, 24); user-select: none;"><b><i>yeziq</i></b></div>

                <!-- Dugme za odlazak na stranu za kurseve -->
                <!-- <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/courses']" style="font-size: 12px;">{{ langMap.get(user.srcLang).get('coursesHeading') }}</a>
                    </li>
                </ul> -->

                <div class="navbar-nav ml-auto align-items-center" style="text-align: center;">
                    <!-- Dropdown meni za menjanje ciljnog jezika (zastavice) -->
                    <div class="nav-item dropdown" style="padding: 0">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            <img id="currentFlag" [src]="navbarFlagsMap.get(user.targetLang)"/>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <ng-container *ngFor="let lang of languages; let i = index">
                                <div class="dropdown-item srcLangChoice" *ngIf="lang !== user.srcLang && lang !== user.targetLang" (click)="changeTargetLang(lang)">
                                    <img style="margin-left: 0.5vh" [src]="flagLinksMap.get(lang)" />
                                    <span style="margin-left: 1vh; font-size: 12px">{{ langNames.get(user.srcLang).get(lang) }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Broj poznatih reci za trenutni ciljni jezik -->
                    <span class="nav-item" id="knownWordCount" [title]="langMap.get(user.srcLang).get('knownWordsTooltip1') + ' ' + knownWordCount.getValue() + ' ' + langMap.get(user.srcLang).get('knownWordsTooltip2')">
                        {{ knownWordCount.getValue() !== -1 ? knownWordCount.getValue() : '-' }}
                    </span>

                    <span class="nav-item" id="level" [title]="getLevelTooltip(user.srcLang)">{{ langMap.get(user.srcLang).get('levelName') + ' ' + (level.getValue() !== -1 ? level.getValue() : '-') }}</span>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/courses']" style="font-size: 13px;">{{ langMap.get(user.srcLang).get('coursesHeading') }}</a>
                    </li>

                    <!-- Link za logout -->
                    <a class="nav-link" (click)="logout()" style="font-size: 13px;">{{ langMap.get(user.srcLang).get('logoutLink') }}</a>

                    <span class="nav-item" id="username">{{ user.username }}</span>
                </div>
            </nav>
        </div>
    </div>
</div>
