a:hover {
    cursor: pointer;
}

div.srcLangChoice:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

#knownWordCount {
    border: 2px solid rgb(123, 185, 255);
    /* border: 2px solid goldenrod; */
    background-color: rgb(255, 255, 227);
    min-width: 5vh; 
    padding: 0.5vh 1vh 0.5vh 1vh;
    color: rgb(123, 185, 255);
    /* color: goldenrod; */
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    margin: auto 1vh;
    user-select: none;
}

#level {
    margin: auto 3vh auto 1vh;
    color: goldenrod;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
}

#username {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 1vh;
    user-select: none;
}

#currentFlag {
    margin-bottom: 0.2vh; 
    border: 1px solid rgb(245, 193, 24);
}